.chooseBox {
  border: #a1a1a1 3px dashed;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  z-index: 10;
  height: 100px;
  width: 100px;
  display: block;
}
.chooseBox.cop_hover {
  border-color: #000000;
}
.cop_wrapper {
  position: relative;
}
.cop_wrapper .cop_head {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  width: 930px;
  height: 20px;
  position: absolute;
  top: 0px;
  background-color: #000000;
  text-align: left;
  color: #d1d1d1;
  display: inline;
}
.cop_wrapper .cop_head .cop_hintText {
  cursor: pointer;
}
.cop_wrapper .cop_imageBox {
  z-index: 0;
  display: inline;
}
.cop_wrapper .cop_imageBox .cop_draggableBox {
  position: absolute;
  cursor: move;
  display: inline;
}
.cop_wrapper .cop_imageBox .cop_draggableBox .cop_chooseBox {
  border: #a1a1a1 3px dashed;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  z-index: 10;
  height: 100px;
  width: 100px;
  display: block;
}
.cop_wrapper .cop_imageBox .cop_draggableBox .cop_chooseBox.cop_hover {
  border-color: #000000;
}
.cop_wrapper .cop_imageBox .cop_draggableBox .cop_commentBox {
  cursor: default;
  margin-top: 10px;
  background-color: #ffffff;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  width: 200px;
  padding: 2px;
  border: #ffffff 1px solid;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  position: absolute;
  z-index: 100;
  text-align: left;
}
.cop_wrapper .cop_imageBox .cop_comments {
  position: absolute;
}
.cop_wrapper .cop_imageBox .cop_comments .cop_comments_chooseBox {
  border: #a1a1a1 3px dashed;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  z-index: 10;
  height: 100px;
  width: 100px;
  display: block;
}
.cop_wrapper .cop_imageBox .cop_comments .cop_comments_chooseBox.cop_hover {
  border-color: #000000;
}
.cop_wrapper .cop_imageBox .cop_comments .cop_comments_arrow {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000000;
  margin-top: 5px;
  margin-left: 15px;
  z-index: 200;
}
.cop_wrapper .cop_imageBox .cop_comments .cop_comments_commentBox {
  text-align: left;
  padding: 7px;
  background-color: #000000;
  width: 100px;
  color: #ffffff;
  font-size: 0.7em;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  z-index: 200;
}
.cop_wrapper .cop_imageBox .cop_comments .cop_comments_commentBox .cop_comments_commentUser {
  color: #d1d1d1;
  font-weight: bold;
}
.cop_wrapper .cop_imageBox .cop_comments .cop_comments_commentBox .cop_comments_commentText {
  margin-top: 5px;
}
.cop_hide {
  display: none !important;
}
